<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://192.168.123.133:8443/work/hebao/iOS/hebao_202107061020_dev_UAT_9.10.44.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://192.168.123.133:8443/work/NCAppIcon40x40@3x.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://192.168.123.133:8443/work/NCAppIcon40x40@3x.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.cmcc.cmpay</string>
				<key>bundle-version</key>
				<string>9.10.44</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>和包</string>
				<key>title</key>
				<string>和包</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
